.notification {
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.error {
  background-color: #ff000044;
  color: #550000;
  border: 1px solid #55000044;
}

.success {
  background-color: #00ff0044;
  color: #005500;
  border: 1px solid #00550044;
}
